version: "3.8"

services:
  php:
    image: php:8.4-fpm-alpine
    container_name: symfony-backend
    network_mode: host
    working_dir: /var/www/symfony
    volumes:
      - /sandbox/workspace/symfony-backend:/var/www/symfony
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: matice_symfony_front
    network_mode: host
    volumes:
      - ./frontend/:/usr/share/nginx/html:ro
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    container_name: symfony-backend_mysql
    network_mode: host
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: matices-symfony
      MYSQL_USER: symfony_user
      MYSQL_PASSWORD: 
    volumes:
      - symfony-backend_mysql_data:/var/lib/mysql
    command: --port=3307 --default-authentication-plugin=mysql_native_password
    restart: unless-stopped

  adminer:
    image: adminer:latest
    container_name: symfony-backend_adminer
    network_mode: host
    environment:
      ADMINER_DEFAULT_SERVER: 127.0.0.1
    command: ["php", "-S", "0.0.0.0:8911", "-t", "/var/www/html"]
    restart: unless-stopped

volumes:
  symfony-backend_mysql_data: