version: "3.8"

services:
  symfony_frontend:
    image: nginx:alpine
    container_name: Matice_Symfony_Front
    network_mode: host
    volumes:
      - ./frontend/:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped